<br/>
<br/>
<br/>
<br/>
<% if user_signed_in? %>

<div id="hoods">

	<h2> Spaces Spaces Spaces!!!</h2>

</div>

<br>

<br>
<br>

<br>
<br>


<% @spaces.each do |space|%>

<h3><a href="/spaces/<%= space.id %> "<h3><%=space.name%></h3><br>
<%= image_tag(space.photo_url, :size => "600x600", :onclick => "photoSwitch") %>
<br>
	<h3><%=space.neighborhood%><br>
	<h3>Rate</h3><%=space.rate%><br>
	<a href="/spaces/<%= space.id %> ">Click here for more info<a/>

<% end %>
<% end %> <br>

<%if !user_signed_in?%>

<p>Please sign in to view our available spaces</p>

<% end %>


