<div class="container1">
<% if user_signed_in? %>


<h3><a id="hoodesc1" href="/" id="navback"> <span class="glyphicon glyphicon-chevron-left"><button type="button"> </span>Home </button> </a> <br></h3>

<h3><a id="hoodesc1" href="/neighborhoods" id="navback"> <span class="glyphicon glyphicon-chevron-left"></span> <button type ="button"></span> Neighborhoods </button> </a> <br></h3><br>


<div id="hoods">



</div>



<% @spaces.each do |space|%>

<h3><a  href="/spaces/<%= space.id %> "><%=space.name%></a></h3><br>
<a href="/spaces/<%= space.id %> "><%= image_tag(space.photo_url, :size => "600x400") %></a>

<span li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Rent this space for only <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><%= space.daily_rate%> Per Day</li>
            <li><%= space.Weekly_rate%> Per Week</li>
            <li><%= space.monthly_rate%> Per Month</li>
        </ul> 
 </span> <br>



	<% if space.neighborhood %>
		<h4> Location:</h4><h4> <%=space.neighborhood.name%><h4><br><span>
	<% end %>
	
	<a href="/spaces/<%= space.id %> "><input type="button" value="Click here for more info"> <a/></span>

<% end %>
<% end %> <br>




<%if !user_signed_in?%>

<p>Please sign in to view our available spaces</p>

<% end %>

</div>
<br>
<br>
<br>


