
<% if user_signed_in? %>

<div id="hoods">

	<h2> Spaces Spaces Spaces!!!</h2>

</div>



<% @spaces.each do |space|%>

<h3><a href="/spaces/<%= space.id %> "<h3><%=space.name%></h3><br>
<%= image_tag(space.photo_url, :size => "400x400", :onclick => "photoSwitch") %>
<br>
	<h3> Location:</h3><h4> <%=space.neighborhood.name%><h4><br>
	<h3>Rate: </h3> <%=space.rate%><br>
	<a href="/spaces/<%= space.id %> "><input type="button" value="Click here for more info" <a/>

<% end %>
<% end %> <br>

<%if !user_signed_in?%>

<p>Please sign in to view our available spaces</p>

<% end %>


