<h2 id="welcomemsg"> Stagefinder Chicago</h2>




<h3><a href="/neighborhoods/" id="navback"> <span class="glyphicon glyphicon-chevron-left"></span><button type="button">Neighborhoods </button></a> <br></h3>

<h3><a href="/spaces" id="navback"> <span class="glyphicon glyphicon-chevron-left"></span> <button type="button">Spaces </button> </a> <br></h3><br>

<div id="row">
		<div id="col-md-8">


				<h2><%= @space.name %> </h2><br>

				<%= image_tag(@space.photo_url, :size => "600x400" ) %> <br>
		</div>		

	<div id="col-md-3">	

		<div id="space_info">

			<% if @space.neighborhood %>	

			<h4>Address:</h4><%= @space.address%> <br>
			<h4>Neighborhood:</h4><%= @space.neighborhood.name %> <br>
			<h4>Square Feet:</h4><%= @space.sq_footage%> <br>
			<h4>Rates:</h4><%= @space.rate%> <br>
			<h4>Contact info:</h4><%= @space.contact%> <br>
			<%= @space.features%> 


		<% end %>
		</div> 
	</div>
	<br/>
	<br/>

</div>

	<%= image_tag(@space.photo_url1, :size => "260x220") %>
	<%= image_tag(@space.photo_url2, :size => "260x220") %>
	<%= image_tag(@space.photo_url3, :size => "260x220") %>
	<%= image_tag(@space.photo_url4, :size => "260x220") %>
	<br>
	<br>
	<a href= "/spaces/<%= @space.user_id %>/contact"><input type="button" value="Contact Owner" class= "btn primary"> </a> 
	
	<a href= "/spaces/<%= @space.id %>/edit"><input type="button" value="Edit Your Space" class="btn primary"> </a><br >
	<br >
