<h2 id="welcomemsg"> Stagefinder Chicago</h2>




<h3><a id="hoodesc1" href="/neighborhoods/" id="navback"> <span class="glyphicon glyphicon-chevron-left"></span><button type="button">Neighborhoods </button></a> <br></h3>

<h3><a id="hoodesc1" href="/spaces" id="navback"> <span class="glyphicon glyphicon-chevron-left"></span> <button type="button">Spaces </button> </a> <br></h3><br>

<div id="row">
		<div id="col-md-8">


				<h2 id="hoodesc1" ><%= @space.name %> </h2><br>

				<%= image_tag(@space.photo_url, :size => "600x400" ) %> <br>
		</div>		

	<div id="col-md-3">	

		<div id="space_info">

			<% if @space.neighborhood %>	

			<h5>Address:</h5><%= @space.address%> <br>
			<h5>Neighborhood:</h5><%= @space.neighborhood.name %> <br>
			<h5>Square Feet:</h5><%= @space.sq_footage%> <br>
			<h5>Rates:</h5> 
			<h5>Daily Rate:</h5> <%= @space.daily_rate%><br>
			<h5> Weekly Rate:</h5> <%= @space.Weekly_rate%> <br>
			<h5> Monthly Rate:</h5><%= @space.monthly_rate%> <br>
			<h5>Contact info:</h5><%= @space.contact%> <br>
			<%= @space.features%> 


		<% end %>
		</div> 
	</div>
	<br/>
	<br/>

</div>

<div ng-app ng-controller="TextController">

	<p>{{ someText }}</p>

	<%= image_tag(@space.photo_url1, :size => "260x220") %>
	<%= image_tag(@space.photo_url2, :size => "260x220") %>
	<%= image_tag(@space.photo_url3, :size => "260x220") %>
	<%= image_tag(@space.photo_url4, :size => "260x220") %>
	<br>
	<br>
	<a href= "/spaces/<%= @space.user_id %>/contact"><input type="button" value="Contact Owner" class= "btn primary"> </a> 

	<% if @space.user_id = current_user %>
	
	<a href= "/spaces/<%= @space.id %>/edit"><input type="button" value="Edit Your Space" class="btn primary"> </a><br >
	<br >

	<% end %>

</div>

	

 