<div id="wrapper1">

<% if user_signed_in?%>

	<div id="hoods">

	
	<h4 id="hoodesc" >Search spaces by neighborhoods</h4>


	</div> 

	<br>

	<h3><a id="hoodesc" href="/" id="navback"> <span class="glyphicon glyphicon-chevron-left"><button type ="button"> </span>Home </button> </a> <br></h3>

	<h3><a id="hoodesc" href="/spaces" id="navback"> <span class="glyphicon glyphicon-chevron-left"></span><button type ="button">Spaces </button></a> <br></h3><br>


	<p id="hoodesc"> Click on the image to view all the Spaces in the neighborhood</p>


	<%@neighborhoods.each do |neighborhood|%>

	 
		<h3><a id="hoodesc1" href="/neighborhoods/<%= neighborhood.id %>"><%= neighborhood.name %></a></h3><br>

		
		<a id="hoodesc" href= "/neighborhoods/<%= neighborhood.id %>"> <%= image_tag(neighborhood.photo_url, :size =>"500x200") %> <%= image_tag(neighborhood.photo2_url, :size =>"500x200") %> </a>
		<br/>
		<br/>
		<div id="description">

		<p id="hoodesc"> <%= neighborhood.description %></p>

		</div>


	<% end %>
<% end %> <br>

<%= will_paginate @neighborhoods, :page_links => false %>

<!-- <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @neighborhoods %>
    </div>
    <%= will_paginate @neighborhoods, :container => false %>
</div>

 -->

<% if !user_signed_in? %>
<p> Please sign in to view our available spaces by neighborhood. </p>
<%end %>

</div>
