

<% if user_signed_in?%>

	<div id="hoods">

	<h2> Spaces by Neighborhood!!!</h2>


	</div> <br>

	<br>


	<%@neighborhoods.each do |neighborhood|%>

	 
		<h3><a href="/neighborhoods/<%= neighborhood.id %>"><%= neighborhood.name %></a></h3><br>

		
		<a href= "/neighborhoods/<%= neighborhood.id %>"> <%= image_tag(neighborhood.photo_url, :size =>"500x200") %> <%= image_tag(neighborhood.photo2_url, :size =>"500x200") %> </a>
		<br/>
		<br/>
		<div id="description">

		<p> <%= neighborhood.description %></p>

		</div>



	<% end %>
<% end %> <br>

<%= will_paginate @neighborhoods %>

<% if !user_signed_in? %>
<p> Please sign in to view our available spaces by neighborhood. </p>
<%end %>
