

<h3><a href="/neighborhoods/"><%= @neighborhood.name%></h3></a>
	
<h2><a href="/neighborhoods/<%= @neighborhood.id %>" <%= @neighborhood.name %> </a></h2>


	<% @spaces.each do |space| %>

 	<h3><a href="/spaces/<%= space.id %>"> <%=space.name%></a></h3><br>

	<a href= "/spaces/<%= space.id %>"> <%= image_tag(space.photo_url, :size => "400x400") %> </a>
	<%end%> <br>
	<br>


	

