
<h3><a id="hoodesc1" class="name" href="/neighborhoods/"><%= @neighborhood.name%></h3></a>
	
<!-- <h2><a href="/neighborhoods/<%= @neighborhood.id %>" <%= @neighborhood.name%> </a></h2>

 -->
	<% @spaces.each do |space| %>

 	<h3><a id="hoodesc1" href="/spaces/<%= space.id %>"> <%=space.name%></a></h3><br>

	<a id="hoodesc1" href= "/spaces/<%= space.id %>"> <%= image_tag(space.photo_url, :size => "450x350") %> </a>
	<span li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Rent this space for only<span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><%= space.daily_rate%> Per Day</li>
                  <li><%= space.Weekly_rate%> Per Week</li>
                  <li><%= space.monthly_rate%> Per Month</li>
                </ul> 

                
  </span>            


                  
		 
		<a id="hoodesc1" href="/spaces/<%= space.id %> "><button type="button"> More Info </button></a>
	<br>
	<br>
	<br>
	<br>
	<br>
	<%end%> 

	<br>
	<br>
	<br>

</div>

	


	

